#map,
body,
html {
  height: 100%;
}

/*Body*/
body{
  padding: 0px;
  margin: 0px;
  background-color: white;
}

/*Words*/
h1{
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: rgb(255, 0, 191);
  font-family: f3c3;
}

/*Navbar*/
.navbar-brand{
  background-color:white;
  text-align: center;
  padding: 10px
}

.dropdown-item {
  color: rgb(255, 0, 191)
}

.nav-link {
  color: rgb(255, 0, 191)
}

.navbar{
  background-color: white !important;
  font-family: f3c3;
}

#main_img{
  height:auto;
  width:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Container*/
.container{
  background-color:white;
}

/*Media query*/
.navbar{
  background-color: white !important;
}


